/* 

De cada grupo de elementos, el que ocupe
La 3ra posicion, sera afectado

elemento:nth-child(3)
*/

tr:nth-child(3){
    background-color: #eee;
}

tbody tr:nth-child(odd){
    background-color: #ccc;
}

tbody tr:nth-child(even){
    background-color: #aaa;
}

td:nth-child(3) {
    background-color: darkblue;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table {
    border-collapse: collapse;
}

thead tr:first-child {
    background-color: brown;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

nav li {
    display: inline-block;
}

.youtube{
    font-family: "mi Primera fuente";
    background-color: #c00;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
}

.facebook{
    font-family: "mi Primera fuente";
    background-color: rgb(56, 16, 233);
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
}

.instagram{
    background: -webkit-linear-gradient(right, #1A98EF, #EF1AED, #FFFD28);
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
}

h2~p {
    color:cyan;
}

h3+p {
    color: darkorange;
}

article:not(.agotado) {
    width: 300px;
    box-shadow: 0px 0px 8px #888;
}

article :not(h4) {
    font-style: italic;
}